<%= form_with model: @oil_change_record, url: [@vehicle, @oil_change_record], local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-3">
    <%= f.label :changed_at, class: 'form-label' %>
    <%= f.date_field :changed_at, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :mileage, class: 'form-label' %>
    <%= f.number_field :mileage, class: 'form-control', placeholder: '例: 50000' %>
  </div>

  <div class="mb-3">
    <%= f.label :memo, class: 'form-label' %>
    <%= f.text_area :memo, class: 'form-control', rows: 5, placeholder: 'エンジンオイル交換' %>
  </div>

  <div class="mt-3">
    <%= link_to t('oil_change_records.index.back'), @vehicle, class: 'btn btn-secondary' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>