<!DOCTYPE html>
<html>
  <head>
    <title>CarMaintenanceReminder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  
    <% if user_signed_in? %>
      <p>ようこそ、<%= current_user.email %>さん</p>
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to '新規登録', new_user_registration_path %>
    <% end %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
